#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC    &kp N1  &kp N2   &kp N3    &none     &kp BSPC
                &kp E      &kp N4  &kp N5   &kp DOT   &kp UP    &kp ENTER
                &kp LSHFT  &none   &kp LEFT &kp LEFT  &kp DOWN  &kp RIGHT
                &kp LCTRL  &none   &kp LALT &kp SPACE &none     &kp SPACE
            >;
        };
    };
};
